body {
  cursor:default;
  margin: 0;
  padding: 0;
  color: #000000;
        background-size: cover; /* Covers the entire element */
        background-position: 50px 50px; /* Centers the image */
        background-repeat: no-repeat; /* Prevents image repetition */
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%; }
#customCursor {
        position: fixed; /* Keep it in the viewport */
        pointer-events: none; /* Allow clicks to pass through */
        font-family: Arial, sans-serif;
        font-size: 14px;
        color: #333;
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 2px 5px;
        border-radius: 3px;
        z-index: 9999; /* Ensure it's on top */
        transform: translate(-50%, -50%); /* Center the text on the cursor position */
    }
#intro{
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 10px;
  
}
#legend{
  position: absolute;
  bottom: 0;
  right:0;
  margin-bottom:30px;
  margin-right:10px;
  
  border-radius:2px;
  padding:2px 5px;
  
  
    display: flex; /* Arranges the boxes in a row */
    gap: 1px; /* Adds space between the boxes */


.box {
    width: 50px;  /* Defines the size of the square */
    height: 10px; /* Defines the size of the square */ /* Optional: adds a border */
}

.high {
    background-color: #0ba6c1; /* Uses a HEX color code */
}

.medium {
    background-color: #7ad9f0; /* Uses an RGB color code */
}

.low {
    background-color: #b9ecf3; /* Uses a color name */
}
}
  #legendwords{
  position: absolute;
  bottom: 0;
  right:0;
  margin-bottom:6px;
  margin-right:15px;
  border-radius:2px;
  font-size: 12px;
    font-family: Helvetica;
    font-weight: bold;
}
